---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Find Your Home">
  <meta http-equiv="refresh" content="0; url=./communities" />
  <p>Redirecting to <a href="./communities">communities</a>...</p>
</BaseLayout>
